* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    background: black;
  }
  
  .memory-game {
    width: 540px;
    height: 540px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
  
  .memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #40505e;
    backface-visibility: hidden;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }
  

@media (max-width: 550px){
    body {
        height: 80vh;
    }

    .memory-game {
        width: 70vw;
        height: 80vw;
        margin-top: 30px !important;
        margin: auto;
        
    }

}

.footer {
    
    text-align: center;
   color: white;
   
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: bold;
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.footer {
    
    text-align: center;
   color: white;
   
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: bold;
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

